/* App */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Home */
.home {
  max-width: 600px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  border-radius: 200px 50px 50px 50px;
  box-shadow: 0 0 20px #000;
  background-image: radial-gradient(
    circle at 120.71% 50%,
    #c04ba0 0,
    #a34394 12.5%,
    #843884 25%,
    #642c71 37.5%,
    #441f59 50%,
    #271241 62.5%,
    #12002c 75%,
    #00001a 87.5%,
    #000004 100%
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}
.js-gif {
  position: absolute;
  max-width: 250px;
  left: -7px;
  top: 0;
}
.start-btn {
  display: inline-block;
  background-color: transparent;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.start-btn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
