/* App */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Home */
.home {
  max-width: 600px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  border-radius: 200px 50px 50px 50px;
  box-shadow: 0 0 20px #000;
  background-image: radial-gradient(
    circle at 120.71% 50%,
    #c04ba0 0,
    #a34394 12.5%,
    #843884 25%,
    #642c71 37.5%,
    #441f59 50%,
    #271241 62.5%,
    #12002c 75%,
    #00001a 87.5%,
    #000004 100%
  );
  position: relative;
}
.js-gif {
  position: absolute;
  max-width: 250px;
  left: -7px;
  top: 0;
}
.start-btn {
  display: inline-block;
  text-decoration: none;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}
svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
