/* App */
.App{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Home */
.home{
    max-width: 600px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    border-radius: 50px;
    bo
    background: #000 url("./img/quiz-brain.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}