/* App */
.App{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Home */
.home{
    max-width: 600px;
    width: 100%;
    height: ;
    margin: 0 auto;
    background: url("./img/quiz-brain.jpg");
}